/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Fonts */
@font-face {
    font-family: 'Flama-Basic';
    font-style: normal;
    font-weight: normal;
    src: local('Flama-Basic'), url('fonts/Flama-Basic.woff') format('woff');
}


/* Dashboard */
body {
  padding: 20px;
  font-size: 13px;
  color: #434e5b;
  font-family: 'Source-Sans-Pro', sans-serif;
  height: 100%;
}
.header {
  margin: 20px 0;
  display: none;
}
.logo {
  width: 200px;
  display: inline-block;
}
h1 {
  font-size: 30px;
  margin-left: 30px;
  vertical-align: top;
  display: inline-block;
}
.current-time {
  display: inline-block;
  font-size: 30px;
  float: right;
}
#all-slots {
  width: 1456px;
}
#all-slots, #tables {
  display: inline-block;
  vertical-align: top;
}
.card {
  position: relative;
  vertical-align: top;
  display: inline-block;
  background-color: #e5e7ee;
  padding: 10px;
  margin: 10px;
  width: 445px;
  height: 587px;
  text-align: center;
}
.card.table-section {
  width: initial;
  display: block;
}
.slot {
  background-color: white;
  padding-bottom: 10px;
}
.slot-num, .engagement-stats {
  height: 80px;
  vertical-align: top;
  display: inline-block;
}
.slot-num {
  width: 70px;
  font-size: 60px;
  line-height: 100px;
  margin-left: 20px;
  font-weight: bold;
}
.metric {
  width: 98px;
  height: 100%;
  padding: 10px;
  display: inline-block;
}
.label {
  margin: 10px 0;
  color: #838ca3;
  font-family: 'Flama-Basic';
  font-size: 14px;
  text-transform: uppercase;
}
.engage-metric {
  font-size: 30px;
  vertical-align: middle;
  margin: 10px 0;
}

/* story info */
.story-stats {
  width: 100%;
  text-align: center;
  margin: 10px 0 0;
}
.story-stat {
  width: 38%;
  display: inline-block;
}
.time {
  font-size: 30px;
  font-weight: bold;
}
.time-label {
  font-size: 18px;
  font-weight: normal;
}

.story-title {
  max-width: 350px;
  height: 50px;
  color: #CA2222;
  font-size: 20px;
  line-height: 25px;
  margin: 6px auto 10px;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* traffic visualization */
.sources {
  width: 90%;
  margin: 20px auto 30px;
}
.keys {
  margin: 10px 0;
}
.key {
  width: 20%;
  display: inline-block;
}
.key-color {
  height: 15px;
  width: 15px;
  margin-right: 5px;
  display: inline-block;
  vertical-align: -3px;
}
.label.key-label {
  display: inline-block;
  font-size: 12px;
}
.segments {
  margin: 10px 0;
}
.traffic-segment {
  display: inline-block;
}
.segment {
  width: 100%;
  height: 20px;
}

/* graphs */
.graph {
  margin: 15px;
}
.overall-graph {
  height: 100%;
}
.graph-container {
  width: 360px;
  margin: 20px 0;
  display: inline-block;
  border: 1px solid rgb(223, 226, 236);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.graph-container.true {
  border: none;
  width: 100%;
  height: 587px;
  margin: 0;
}
.chart-header {
  width: 100%;
  background-color: rgb(223, 226, 236);
  position: relative;
}
.chart-header.true {
  background-color: white;
}
.mp-graph {
  height: 160px;
  width: 360px;
  background-color: rgb(251, 252, 253);
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
}
.graph-container.true .mp-graph {
  height: 524px;
  border-radius: 0;
  width: 100%;
  background-color: white;
}
.mp-graph .graph {
  height: 160px;
  width: 360px;
  margin: 0;
}
.graph-container.true .mp-graph .graph {
  height: 524px;
  width: 100%;
}
.graph-container.true .chart-title {
  padding: 15px 0;
  font-size: 18px;
}
.chart-title-shadow {
  background-color: transparent;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  z-index: 3;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.1);
}
.chart-title-shadow.true {
  display: none;
}
.chart-title-container {
  text-align: center;
  padding: 8px 0;
  z-index: 4;
}
.chart-title {
  color: #747d94;
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
}
.mixpanel-platform-overlay.mixpanel-platform-loading {
  left: 8%;
}
.mixpanel-platform-overlay.mixpanel-platform-error {
  left: 13%;
}

/*// Remove inner line chart border*/
.mp-graph > path, .mp-graph svg > path {
  display: none
}

/*// Remove outer line chart border*/
.mp-graph svg > rect:nth-of-type(2) {
  stroke: rgb(223, 226, 236);
  stroke-width: 0;
}

/*// Set border radius for line chart y-axis to 0*/
.mp-graph svg > rect:nth-of-type(3) {
  rx: 0;
  ry: 0;
  y: -3;
  height: 173;
}


/* tables */
.table-section {
  margin-bottom: 20px;
}
.table-section .chart-title {
  background-color: white;
  padding: 25px 0 22px;
  font-size: 18px;
}
.row {
  padding: 12px 0;
  text-align: center;
  font-size: 20px;
  background-color: white;
}
.row.header-row {
  font-family: 'Flama-Basic';
  font-size: 18px;
  text-transform: uppercase;
}
.row .cell {
  display: inline-block;
  width: 125px;
  vertical-align: middle;
}
.top-table .row:last-child {
  padding-bottom: 25px;
}













